body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}

/*Starry Backrgound ------------------------------------------*/
.stars, .shimmer{ 
    position: absolute; 
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    width: 100vw; 
    height: 100vh; 
    display: block; 
}

.stars{ /* Still picture of stars */
    z-index: 0; 
    background: black  
    url(../Images/Wallpaper/stars1.png) repeat top center; 
    z-index: 1;
}

.shimmer{ /* Controls star flickering */ 
    z-index: 1; 
    background: transparent
    url(../Images/Wallpaper/shadows.png) repeat top center;
    animation: shinyAnim linear infinite; 
    background-position: center; 
    animation-duration: 200s; 
    z-index: 2;
}

@keyframes shinyAnim{ 
    from{
        background-position: 0 0;
    }
    to{
        background-position: -10000px 5000px;
    }
}
/*----------------------------------------------------------------*/

/* snøfnugg animasjoner, med forskjellige intervallerfra 1 - 20, 21-40, 41-60, 61-80 og 81-100 linket videre til 
animasjoner så hver bolk representerer 1 linje med snø som faller gitt litt forskjellige delay og lengder 
osv for å få en naturlig effekt */
/*--------------------------------------------------------------------------------------------------------------*/

#flake1, #flake21, #flake41, #flake61, #flake81 {
    animation-name: snowflake1;
}

#flake2, #flake22, #flake42, #flake62, #flake82 {
    animation-name: snowflake2;
}

#flake3, #flake23, #flake43, #flake63, #flake83 {
    animation-name: snowflake3;
}

#flake4, #flake24, #flake44, #flake64, #flake84 {
    animation-name: snowflake4;
}

#flake5, #flake25, #flake45, #flake65, #flake85 {
    animation-name: snowflake5;
}

#flake6, #flake26, #flake46, #flake66, #flake86 {
    animation-name: snowflake6;
}

#flake7, #flake27, #flake47, #flake67, #flake87 {
    animation-name: snowflake7;
}

#flake8, #flake28, #flake48, #flake68, #flake88 {
    animation-name: snowflake8;
}

#flake9, #flake29, #flake49, #flake69, #flake89 {
    animation-name: snowflake9;
}

#flake10, #flake30, #flake50, #flake70, #flake90 {
    animation-name: snowflake10;
}

#flake11, #flake31, #flake51, #flake71, #flake91 {
    animation-name: snowflake11;
}

#flake12, #flake32, #flake52, #flake72, #flake92 {
    animation-name: snowflake12;
}

#flake13, #flake33, #flake53, #flake73, #flake93 {
    animation-name: snowflake13;
}

#flake14, #flake34, #flake54, #flake74, #flake94 {
    animation-name: snowflake14;
}

#flake15, #flake35, #flake55, #flake75, #flake95 {
    animation-name: snowflake15;
}

#flake16, #flake36, #flake56, #flake76, #flake96 {
    animation-name: snowflake16;
}

#flake17, #flake37, #flake57, #flake77, #flake97 {
    animation-name: snowflake17;
}

#flake18, #flake38, #flake58, #flake78, #flake98 {
    animation-name: snowflake18;
}

#flake19, #flake39, #flake59, #flake79, #flake99 {
    animation-name: snowflake19;
}

#flake20, #flake40, #flake60, #flake80, #flake100 {
    animation-name: snowflake20;
}

#flake2, #flake4, #flake8, #flake10, #flake14, #flake18{
    animation-delay: 1s;
}

#flake3, #flake9, #flake17 {
    animation-delay: 0.5s;
}

#flake6, #flake12, #flake16, #flake20 {
    animation-delay: 2s;
}

#flake21, #flake22, #flake28, #flake37 {
    animation-delay: 3s;
}

#flake24, #flake27, #flake30, #flake33, #flake35, #flake38, #flake40 {
    animation-delay: 3.5s;
}

#flake23, #flake25, #flake29, #flake31, #flake34, #flake39 {
    animation-delay: 4s;
}

#flake26, #flake32, #flake36 {
    animation-delay: 4.5s;
}

#flake41, #flake45, #flake49 {
    animation-delay: 5.5s;
}

#flake42, #flake44, #flake46, #flake48, #flake56, #flake60 {
    animation-delay: 6s;
}

#flake43, #flake47, #flake50, #flake52, #flake55, #flake57, #flake59 {
    animation-delay: 6.5s;
}

#flake51, #flake53, #flake58 {
    animation-delay: 7s;
}

#flake54 {
    animation-delay: 7.5s;
}

#flake61, #flake64, #flake68, #flake70, #flake73, #flake74, #flake76, #flake78 {
    animation-delay: 8.5s;
}

#flake62, #flake65, #flake67, #flake71, #flake75, #flake79 {
    animation-delay: 9s;
}

#flake63, #flake66, #flake69, #flake72, #flake77 {
    animation-delay: 8s;
}

#flake80, #flake84, #flake89, #flake91, #flake94, #flake97, #flake100 {
    animation-delay: 10s;
}

#flake81, #flake83, #flake85, #flake87, #flake90, #flake93, #flake96 {
    animation-delay: 11s;
}

#flake82, #flake86, #flake88, #flake92, #flake95, #flake98, #flake99 {
    animation-delay: 10.5s;
}

/* Animasjoner for hver enkelt linje med snøfnugg, med litt forskjellig rotasjon lengde avstand og z-index */
/*----------------------------------------------------------------------------------------------------------*/

@keyframes snowflake1{
    0%{left: 5%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 5%;
        top: 80%;
        transform:rotate(190deg);
        opacity: 0;}
}

@keyframes snowflake2{
    0%{left: 10%;
        top: 0%;
        z-index: 2;}
    90%{opacity: 1;}    
    100%{left: 10%;
        top: 61%;
        transform:rotate(180deg);
        opacity: 0;
        z-index: 2;}
}

@keyframes snowflake3{
    0%{left: 15%;
        top: 0%;
        transform: scale(0.9);}
    90%{opacity: 1;}    
    100%{left: 15%;
        top: 79%;
        transform:rotate(-190deg);
        opacity: 0;}
}

@keyframes snowflake4{
    0%{left: 20%;
        top: 0%;
        transform: scale(1.1);
        z-index: 2;}
    90%{opacity: 1;}    
    100%{left: 20%;
        top: 74%;
        transform:rotate(170deg);
        opacity: 0;
        z-index: 2;}
}

@keyframes snowflake5{
    0%{left: 25%;
        top: 0%;
        transform: scale(0.8)}
    90%{opacity: 1;}    
    100%{left: 25%;
        top: 81%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake6{
    0%{left: 28%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 28%;
        top: 80%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake7{
    0%{left: 33%;
        top: 0%;
        z-index: 2;}
    90%{opacity: 1;}    
    100%{left: 33%;
        top: 72%;
        transform:rotate(-280deg);
        opacity: 0;
        z-index: 2;}
}

@keyframes snowflake8{
    0%{left: 37%;
        top: 0%;
        transform: scale(1.1)}
    90%{opacity: 1;}    
    100%{left: 41%;
        top: 79%;
        transform:rotate(360deg);
        opacity: 0;}
}

@keyframes snowflake9{
    0%{left: 43%;
        top: 0%;
        z-index: 2;}
    90%{opacity: 1;}    
    100%{left: 45%;
        top: 72%;
        transform:rotate(-180deg);
        opacity: 0;
        z-index: 2;}
}

@keyframes snowflake10{
    0%{left: 51%;
        top: 0%;
        transform: scale(0.8)}
    90%{opacity: 1;}    
    100%{left: 51%;
        top: 77%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake11{
    0%{left: 56%;
        top: 0%;
        transform: scale(1.2)}
    90%{opacity: 1;}    
    100%{left: 56%;
        top: 82%;
        transform:rotate(180deg);
        opacity: 0;}
}

@keyframes snowflake12{
    0%{left: 60%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 60%;
        top: 81%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake13{
    0%{left: 64%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 64%;
        top: 80%;
        transform:rotate(180deg);
        opacity: 0;}
}

@keyframes snowflake14{
    0%{left: 69%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 69%;
        top: 82%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake15{
    0%{left:72%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 74%;
        top: 82%;
        transform:rotate(-280deg);
        opacity: 0;}
}

@keyframes snowflake16{
    0%{left: 74%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 77%;
        top: 79%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake17{
    0%{left: 75%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 75%;
        top: 72%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake18{
    0%{left: 79%;
        top: 0%;
        }
    90%{opacity: 1;}    
    100%{left: 81%;
        top: 72%;
        transform:rotate(-80deg);
        opacity: 0;
        }
}

@keyframes snowflake19{
    0%{left: 84%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 84%;
        top: 82%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake20{
    0%{left: 88%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 89%;
        top: 75%;
        transform:rotate(-180deg);
        opacity: 0;}
}