body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}

/*Starry Backrgound ------------------------------------------*/
.stars, .shimmer{ 
    position: absolute; 
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    width: 100vw; 
    height: 100vh; 
    display: block; 
}

.stars{ /* Still picture of stars */
    z-index: 0; 
    background: black  
    url(../Images/Wallpaper/stars1.png) repeat top center; 
    z-index: 1;
}

.shimmer{ /* Controls star flickering */ 
    z-index: 1; 
    background: transparent
    url(../Images/Wallpaper/shadows.png) repeat top center;
    animation: shinyAnim linear infinite; 
    background-position: center; 
    animation-duration: 200s; 
    z-index: 2;
}

@keyframes shinyAnim{ 
    from{
        background-position: 0 0;
    }
    to{
        background-position: -10000px 5000px;
    }
}
/*----------------------------------------------------------------*/

/* snøfnugg animasjoner, med forskjellige intervallerfra 1 - 20, 21-40, 41-60, 61-80 og 81-100 linket videre til 
animasjoner så hver bolk representerer 1 linje med snø som faller gitt litt forskjellige delay og lengder 
osv for å få en naturlig effekt */
/*--------------------------------------------------------------------------------------------------------------*/

#flake1{
    animation-name: snowflake1;
    animation-delay:0s;
}

#flake2{
    animation-name: snowflake2;
    animation-delay:1s;
}

#flake3{
    animation-name: snowflake3;
    animation-delay:0.5s;
}

#flake4{
    animation-name: snowflake4;
    animation-delay: 1s;
}

#flake5{
    animation-name: snowflake5;
    animation-delay: 0s;
}

#flake6{
    animation-name: snowflake6;
    animation-delay: 2s;
}

#flake7{
    animation-name: snowflake7;
    animation-delay: 0s;
}

#flake8{
    animation-name: snowflake8;
    animation-delay: 1s;
}

#flake9{
    animation-name: snowflake9;
    animation-delay: 0.5s;
}

#flake10{
    animation-name: snowflake10;
    animation-delay: 1s;
}

#flake11{
    animation-name: snowflake11;
    animation-delay: 0s;
}

#flake12{
    animation-name: snowflake12;
    animation-delay: 2s;
}

#flake13{
    animation-name: snowflake13;
    animation-delay: 0s;
}

#flake14{
    animation-name: snowflake14;
    animation-delay: 1s;
}

#flake15{
    animation-name: snowflake15;
    animation-delay: 0s;
}

#flake16{
    animation-name: snowflake16;
    animation-delay: 2s;
}

#flake17{
    animation-name: snowflake17;
    animation-delay: 0.5s;
}

#flake18{
    animation-name: snowflake18;
    animation-delay: 1s;
}

#flake19{
    animation-name: snowflake19;
    animation-delay: 0s;
}

#flake20{
    animation-name: snowflake20;
    animation-delay: 2s;
}

#flake21{
    animation-name: snowflake1;
    animation-delay: 3s;
}

#flake22{
    animation-name: snowflake2;
    animation-delay: 3s;
}

#flake23{
    animation-name: snowflake3;
    animation-delay: 4s;
}

#flake24{
    animation-name: snowflake4;
    animation-delay: 3.5s;
}

#flake25{
    animation-name: snowflake5;
    animation-delay: 4s;
}

#flake26{
    animation-name: snowflake6;
    animation-delay: 4.5s;
}

#flake27{
    animation-name: snowflake7;
    animation-delay: 3.5s;
}

#flake28{
    animation-name: snowflake8;
    animation-delay: 3s;
}

#flake29{
    animation-name: snowflake9;
    animation-delay: 4s;
}

#flake30{
    animation-name: snowflake10;
    animation-delay: 3.5s;
}

#flake31{
    animation-name: snowflake11;
    animation-delay: 4s;
}

#flake32{
    animation-name: snowflake12;
    animation-delay: 4.5s;
}

#flake33{
    animation-name: snowflake13;
    animation-delay: 3.5s;
}

#flake34{
    animation-name: snowflake14;
    animation-delay: 4s;
}

#flake35{
    animation-name: snowflake15;
    animation-delay: 3.5s;
}

#flake36{
    animation-name: snowflake16;
    animation-delay: 4.5s;
}

#flake37{
    animation-name: snowflake17;
    animation-delay: 3s;
}

#flake38{
    animation-name: snowflake18;
    animation-delay: 3.5s;
}

#flake39{
    animation-name: snowflake19;
    animation-delay: 4s;
}

#flake40{
    animation-name: snowflake20;
    animation-delay: 3.5s;
}

#flake41{
    animation-name: snowflake1;
    animation-delay: 5.5s;
}

#flake42{
    animation-name: snowflake2;
    animation-delay: 6s;
}

#flake43{
    animation-name: snowflake3;
    animation-delay: 6.5s;
}

#flake44{
    animation-name: snowflake4;
    animation-delay: 6s;
}

#flake45{
    animation-name: snowflake5;
    animation-delay: 5.5s;
}

#flake46{
    animation-name: snowflake6;
    animation-delay: 6s;
}

#flake47{
    animation-name: snowflake7;
    animation-delay: 6.5s;
}

#flake48{
    animation-name: snowflake8;
    animation-delay: 6s;
}

#flake49{
    animation-name: snowflake9;
    animation-delay: 5.5s;
}

#flake50{
    animation-name: snowflake10;
    animation-delay: 6.5s;
}

#flake51{
    animation-name: snowflake11;
    animation-delay: 7s;
}

#flake52{
    animation-name: snowflake12;
    animation-delay: 6.5s;
}

#flake53{
    animation-name: snowflake13;
    animation-delay: 7s;
}

#flake54{
    animation-name: snowflake14;
    animation-delay: 7.5s;
}

#flake55{
    animation-name: snowflake15;
    animation-delay: 6.5s;
}

#flake56{
    animation-name: snowflake16;
    animation-delay: 6s;
}

#flake57{
    animation-name: snowflake17;
    animation-delay: 6.5s;
}

#flake58{
    animation-name: snowflake18;
    animation-delay: 7s;
}

#flake59{
    animation-name: snowflake19;
    animation-delay: 6.5s;
}

#flake60{
    animation-name: snowflake20;
    animation-delay: 6s;
}

#flake61{
    animation-name: snowflake1;
    animation-delay: 8.5s;
}

#flake62{
    animation-name: snowflake2;
    animation-delay: 9s;
}

#flake63{
    animation-name: snowflake3;
    animation-delay: 8s;
}

#flake64{
    animation-name: snowflake4;
    animation-delay: 8.5s;
}

#flake65{
    animation-name: snowflake5;
    animation-delay: 9s;
}

#flake66{
    animation-name: snowflake6;
    animation-delay: 8s;
}

#flake67{
    animation-name: snowflake7;
    animation-delay: 9s;
}

#flake68{
    animation-name: snowflake8;
    animation-delay: 8.5s;
}

#flake69{
    animation-name: snowflake9;
    animation-delay: 8s;
}

#flake70{
    animation-name: snowflake10;
    animation-delay: 8.5s;
}

#flake71{
    animation-name: snowflake11;
    animation-delay: 9s;
}

#flake72{
    animation-name: snowflake12;
    animation-delay: 8s;
}

#flake73{
    animation-name: snowflake13;
    animation-delay: 8.5s;
}

#flake74{
    animation-name: snowflake14;
    animation-delay: 8.5s;
}

#flake75{
    animation-name: snowflake15;
    animation-delay: 9s;
}

#flake76{
    animation-name: snowflake16;
    animation-delay: 8.5s;
}

#flake77{
    animation-name: snowflake17;
    animation-delay: 8s;
}

#flake78{
    animation-name: snowflake18;
    animation-delay: 8.5s;
}

#flake79{
    animation-name: snowflake19;
    animation-delay: 9s;
}

#flake80{
    animation-name: snowflake20;
    animation-delay: 10s;
}

#flake81{
    animation-name: snowflake1;
    animation-delay: 11s;
}

#flake82{
    animation-name: snowflake2;
    animation-delay: 10.5s;
}

#flake83{
    animation-name: snowflake3;
    animation-delay: 11s;
}

#flake84{
    animation-name: snowflake4;
    animation-delay: 10s;
}

#flake85{
    animation-name: snowflake5;
    animation-delay: 11s;
}

#flake86{
    animation-name: snowflake6;
    animation-delay: 10.5s;
}

#flake87{
    animation-name: snowflake7;
    animation-delay: 11s;
}

#flake88{
    animation-name: snowflake8;
    animation-delay: 10.5s;
}

#flake89{
    animation-name: snowflake9;
    animation-delay: 10s;
}

#flake90{
    animation-name: snowflake10;
    animation-delay: 11s;
}

#flake91{
    animation-name: snowflake11;
    animation-delay: 10s;
}

#flake92{
    animation-name: snowflake12;
    animation-delay: 10.5s;
}

#flake93{
    animation-name: snowflake13;
    animation-delay: 11s;
}

#flake94{
    animation-name: snowflake14;
    animation-delay: 10s;
}

#flake95{
    animation-name: snowflake15;
    animation-delay: 10.5s;
}

#flake96{
    animation-name: snowflake16;
    animation-delay: 11s;
}

#flake97{
    animation-name: snowflake17;
    animation-delay: 10s;
}

#flake98{
    animation-name: snowflake18;
    animation-delay: 10.5s;
}

#flake99{
    animation-name: snowflake19;
    animation-delay: 10.5s;
}

#flake100{
    animation-name: snowflake20;
    animation-delay: 10s;
}

/* Animasjoner for hver enkelt linje med snøfnugg, med litt forskjellig rotasjon lengde avstand og z-index */
/*----------------------------------------------------------------------------------------------------------*/

@keyframes snowflake1{
    0%{left: 5%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 5%;
        top: 80%;
        transform:rotate(190deg);
        opacity: 0;}
}

@keyframes snowflake2{
    0%{left: 10%;
        top: 0%;
        z-index: 2;}
    90%{opacity: 1;}    
    100%{left: 10%;
        top: 61%;
        transform:rotate(180deg);
        opacity: 0;
        z-index: 2;}
}

@keyframes snowflake3{
    0%{left: 15%;
        top: 0%;
        transform: scale(0.9);}
    90%{opacity: 1;}    
    100%{left: 15%;
        top: 79%;
        transform:rotate(-190deg);
        opacity: 0;}
}

@keyframes snowflake4{
    0%{left: 20%;
        top: 0%;
        transform: scale(1.1);
        z-index: 2;}
    90%{opacity: 1;}    
    100%{left: 20%;
        top: 74%;
        transform:rotate(170deg);
        opacity: 0;
        z-index: 2;}
}

@keyframes snowflake5{
    0%{left: 25%;
        top: 0%;
        transform: scale(0.8)}
    90%{opacity: 1;}    
    100%{left: 25%;
        top: 81%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake6{
    0%{left: 28%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 28%;
        top: 80%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake7{
    0%{left: 33%;
        top: 0%;
        z-index: 2;}
    90%{opacity: 1;}    
    100%{left: 33%;
        top: 72%;
        transform:rotate(-280deg);
        opacity: 0;
        z-index: 2;}
}

@keyframes snowflake8{
    0%{left: 37%;
        top: 0%;
        transform: scale(1.1)}
    90%{opacity: 1;}    
    100%{left: 41%;
        top: 79%;
        transform:rotate(360deg);
        opacity: 0;}
}

@keyframes snowflake9{
    0%{left: 43%;
        top: 0%;
        z-index: 2;}
    90%{opacity: 1;}    
    100%{left: 45%;
        top: 72%;
        transform:rotate(-180deg);
        opacity: 0;
        z-index: 2;}
}

@keyframes snowflake10{
    0%{left: 51%;
        top: 0%;
        transform: scale(0.8)}
    90%{opacity: 1;}    
    100%{left: 51%;
        top: 77%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake11{
    0%{left: 56%;
        top: 0%;
        transform: scale(1.2)}
    90%{opacity: 1;}    
    100%{left: 56%;
        top: 82%;
        transform:rotate(180deg);
        opacity: 0;}
}

@keyframes snowflake12{
    0%{left: 60%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 60%;
        top: 81%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake13{
    0%{left: 64%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 64%;
        top: 80%;
        transform:rotate(180deg);
        opacity: 0;}
}

@keyframes snowflake14{
    0%{left: 69%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 69%;
        top: 82%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake15{
    0%{left:72%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 74%;
        top: 82%;
        transform:rotate(-280deg);
        opacity: 0;}
}

@keyframes snowflake16{
    0%{left: 74%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 77%;
        top: 79%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake17{
    0%{left: 75%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 75%;
        top: 72%;
        transform:rotate(-180deg);
        opacity: 0;}
}

@keyframes snowflake18{
    0%{left: 79%;
        top: 0%;
        }
    90%{opacity: 1;}    
    100%{left: 81%;
        top: 72%;
        transform:rotate(-80deg);
        opacity: 0;
        }
}

@keyframes snowflake19{
    0%{left: 84%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 84%;
        top: 82%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake20{
    0%{left: 88%;
        top: 0%;}
    90%{opacity: 1;}    
    100%{left: 89%;
        top: 75%;
        transform:rotate(-180deg);
        opacity: 0;}
}