/*Starry Backrgound ------------------------------------------*/
.stars, .shimmer{ 
    position: absolute; 
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    width: 100vw; 
    height: 100vh; 
    display: block; 
}

.stars{ /* Still picture of stars */
    z-index: 0; 
    background: black  
    url(../Images/Wallpaper/stars1.png) repeat top center; 
}

.shimmer{ /* Controls star flickering */ 
    z-index: 1; 
    background: transparent
    url(../Images/Wallpaper/shadows.png) repeat top center;
    animation: shinyAnim linear infinite; 
    background-position: center; 
    animation-duration: 200s; 
}

@keyframes shinyAnim{ 
    from{
        background-position: 0 0;
    }
    to{
        background-position: -10000px 5000px;
    }
}
/*----------------------------------------------------------------*/

/*Worldmap -------------------------------------------------------*/
#earth-div{
    z-index: 3; 
    background-color: white;
    position: relative;
    width: 600px; 
    height: 600px;
    background-image: url(/images/Globe/worldmap2.png);
    background-size: 70vh;
    background-position: bottom;
    border-radius: 100%;
    top: 5%;
    left: 35%;
    box-shadow: inset 10px 0 50px black, 0 0 500px; 
    animation: earth 100s linear infinite;
}

#earth-div:hover{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

@keyframes earth {
    0%{
        background-position: 0 0; 
    }
    100%{
        background-position: 1000px 0;
    }
}
/*-----------------------------------------------------------------*/

/*Santa's Sleigh --------------------------------------------------*/

#santa-sleigh{
    position: fixed;
    z-index: 2;
    background-color: darkred;
    width: 600px;
    height: 100vh;
    left: 35%;
    top: 74.5%;
    border-radius: 20%;
}

#sleigh-shadow{
    position: fixed;
    z-index: 1;
    background-color: black;
    width: 600px;
    height: 150vh;
    left: 35%;
    top: 75.5%;
    border-radius: 20%;
}

#sleigh-rim{
    position: fixed;
    z-index: 2;
    background-color: #442e19;
    width: 600px;
    height: 150vh;
    left: 35%;
    top: 76%;
    border-radius: 20%;
}

#santa-leg-right{
    position: absolute;
    z-index: 4;
    background-color: white;
    border-radius: 50%;
    width: 150px;
    height: 40vh;
    left: 60%;
    top: 7%;
}

/*-----------------------------------------------------------------*/

/*Always has been meme*/