body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
}

/* Starry Backrgound*/

.stars, .shimmer{ 
    position: absolute; 
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    width: 100vw; 
    height: 100vh; 
    display: block; 
}

.stars{ /* Still picture of stars */
    z-index: 0; 
    background: black  
    url(../Images/stars1.png) repeat top center; 
}

.shimmer{ /* Controls star flickering */ 
    z-index: 1; 
    background: transparent
    url(../Images/shadows.png) repeat top center;
    animation: shinyAnim linear infinite; 
    background-position: center; 
    animation-duration: 200s; 
}

@keyframes shinyAnim{ 
    from{
        background-position: 0 0;
    }
    to{
        background-position: -10000px 5000px;
    }
}

/* Earth's map */

#earth-div{
    z-index: 3; 
    background-color: white;
    position: relative;
    width: 600px; 
    height: 600px;
    background-image: url(/images/worldmap2.png);
    background-size: 70vh;
    background-position: bottom;
    border-radius: 100%;
    top: 5%;
    left: 35%;
    box-shadow: inset 10px 0 50px black, 0 0 500px; 
    animation: earth 100s linear infinite;
}

#earth-div:hover{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;

}

@keyframes earth {
    0%{
        background-position: 0 0; 
    }
    100%{
        background-position: 1000px 0;
    }
}
