body{
    overflow: hidden;
}

/*Worldmap -------------------------------------------------------*/
#earth-section{
    position: absolute;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

#earth-section>*{
    position: absolute;
    justify-content: center;
}

#earth-div{
    position: relative;
    justify-content: center;
    z-index: 3; 
    width: 600px; 
    height: 600px;
    background-image: url(/images/Globe/worldmap2.png);
    background-size: 800px;
    background-position: bottom;
    border-radius: 100%;
    top: 5%;
    left: 35%;
    box-shadow: inset 10px 0 50px black, 0 0 500px; 
    animation: earth 100s linear infinite;
}

#earth-div:hover{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

@keyframes earth {
    0%{
        background-position: 0 0; 
    }
    100%{
        background-position: 1000px 0;
    }
}
/*-----------------------------------------------------------------*/
.moon img{
    position: relative;
    z-index: 50;
    width: 10vw;
    right: 5%;
    top: 0%;
    animation: moonBob 2s linear infinite;
}

@keyframes moonBob {
    0% {top: 0;}
    50%{ top: 1%;}
    100% {top: 0;}
    
}
/*Santa's Sleigh --------------------------------------------------*/

#santa-sleigh{
    position: relative;
    justify-content: center;
    z-index: 3;
    background-color: darkred;
    width: 600px;
    height: 400px;
    left: 35%;
    top: 130px;
    border-radius: 20%;
}

#sleigh-shadow{
    position: absolute;
    justify-content: center;
    z-index: 2;
    background-color: #101010;
    width: 580px;
    height: 300px;
    left: 10px;
    top: 10px;
    border-radius: 20%;
}

#sleigh-rim{
    position: absolute;
    justify-content: center;
    display: flex;
    z-index: 3;
    background-color: #442e19;
    width: 560px;
    height: 300px;
    left: 20px;
    top: 15px;
    border-radius: 20%;
}

    /*Santa -----------------------------------------------------------*/
        #santa-legs{
            position: relative;
            justify-content: center;
            z-index: 4; 
            right: 30px;
            bottom: 60px;
            transform: rotate(180deg);
        }

        #santa-legs img{
            justify-content: center;
            width: 500px;
            height: 500px; 
        }

        #santa-arms{
            position: relative;
            justify-content: center;
            z-index: 4;
            transform: rotate(180deg);
            left: 10px;
            bottom: 600px;
        }

        #santa-arms img{
            justify-content: center;
            width: 600px;
            height: 600px;
        }
    /*-----------------------------------------------------------------*/

    #reindeer{
        position: relative;
        z-index: 2;
        top: 0px;
        left: 0px;
    } 
/*-----------------------------------------------------------------*/

/*Always has been meme*/