.container{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}


.skyContainer{
    position: absolute;
    left: 0;

}

.sky{
    width: 100vw;
    height: 100vh;
}

.snowContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;

}

.snow{
    width: 20%;
}

.castleContainer{
    position: absolute;
    z-index: 2;
    display: flex;
    top: 20%;
}

.windowContainer{
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 61%; 
    
}

.window{
    z-index: 3;
    width: 7%;
}
