body{
	overflow: hidden;

}

#container {
	position: relative;
	height: 100vh;
	width: 100vw;
}


#bilde {
z-index: 3;
position: relative;
justify-content: center;
top: 65%;
right: 20%;
width:150vw;
height: 40vh;
}
#bilde2 {
	z-index: 3;
	position: relative;
	justify-content: center;
	top: 15%;
	right: 20%;
	width:150vw;
	height: 10vh;
	}
