#container {
    background-color: rgb(18, 26, 51);
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow:hidden;
}

#cloudBackground{
    z-index: 2;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#snowBackground{
    z-index: 2;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#assemblyLineContainer{
    right: 5%;
    height: 20%;
    top: 56%;
    position: absolute;
    width: 20%;
}

/* Bildet av gavemaskinen */
/*---------------------------------------------------------------------------------------*/

#assemblyLine{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

/* Grå div som ligger over bildet av gavemaskinen (Underlaget til beltet) */
/*---------------------------------------------------------------------------------------*/

#conveyorBelt{
    background-color: rgb(114, 114, 114);
    width: 63%;
    height: 7%;
    top: 62.5%;
    position: absolute;
    transform: skew(55deg,4deg) rotate(-12deg);
    left: 5.5%;
    z-index: 3;
}

/* Fellesegenskaper for linjene på beltet */
/*---------------------------------------------------------------------------------------*/

.belt{
    background-color: rgb(56, 56, 56);
    height: 100%;
    width: 2%;
    position: absolute;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;
}

/*  Linjer lagt over conveyorbelt diven for å få det til å se ut som at beltet beveger seg*/
/*---------------------------------------------------------------------------------------*/

#belt1{
    right: 0%;
    animation-name: belt1Movement;
    
}

#belt2{
    right: 20.5%;
    animation-name: belt2Movement;    
}

#belt3{
    right: 41%;
    animation-name: belt3Movement;
}

#belt4{
    right: 61.5%;
    animation-name: belt4Movement;
}

#belt5{
    right: 82%;
    animation-name: belt5Movement;
}

/* animasjoner til strekene på beltet */
/*---------------------------------------------------------------------------------------*/

@keyframes belt1Movement{
    0%{right: 1%}
    100%{right: 20.5%}
}

@keyframes belt2Movement{
    0%{right: 20.5%}
    100%{right: 41%}
    
}

@keyframes belt3Movement{
    0%{right: 41%}
    100%{right: 61.5%}
}

@keyframes belt4Movement{
    0%{right: 61.5%}
    100%{right: 82%}
}

@keyframes belt5Movement{
    0%{right: 82%}
    100%{right: 100%}
}

/* Streker på hjulene på transportbeltet */ 
/*---------------------------------------------------------------------------------------*/

.wheels{
    background-color: rgb(189, 189, 189);
    position: absolute;
    animation-name: wheelSpin;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#wheel1{
    height: 6%;
    width:1%;
    bottom: 18%;
    left: 36.2%;
    transform: skew(-10deg,5deg);
    z-index: 4;
}

#wheel2{
    height: 5%;
    width: 1%;
    bottom: 25.5%;
    left: 51%;
    transform: skew(-10deg,5deg);
    z-index: 4;    
}

/* Animasjon til hjulene */
/*---------------------------------------------------------------------------------------*/

@keyframes wheelSpin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg)}
}

/* Gaver på båndet  */
/*---------------------------------------------------------------------------------------*/

.present{
    position: absolute;
    height: 12%;
    width: 12%;
    animation-name: present1Move;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
    top: 48%;
    left: 50%;    
}

#present1{
    animation-delay: 0s;
}

#present2{
    
    animation-delay: 4s;
}

#present3{
    animation-delay: 8s;
}

/* Animasjoner av gavene på båndet */
/*---------------------------------------------------------------------------------------*/

@keyframes present1Move{
    0%{top: 48%;
        left: 55%;
        z-index: 0;}
    10%{z-index: 4;}
    100%{top: 68%;
        left: 8%;
        z-index: 4;}
}

/* Sleden */
/*---------------------------------------------------------------------------------------*/

#sleigh{
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 5%;
    right: -30%;
    z-index: 5;
    animation-name: sleighTravel1,sleighTravel2;
    animation-delay: 0s,10s;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#signpostToTheWorld:hover + #sleigh{
    animation-play-state: running;
}


/* Animasjon av sleden */
/*---------------------------------------------------------------------------------------*/

@keyframes sleighTravel1{
    0%{bottom: 15%;
        right: -30%;
        transform:rotate(-15deg)}
    100%{bottom: 5%;
        right: 10%;}
}

@keyframes sleighTravel2{
    0%{bottom: 5%;
        right: 10%;}
    50%{bottom: 5%;
        right: 40%}
    70%{bottom: 25%;
        right: 60%;
        transform:rotate(15deg);}
    100%{bottom: 55%;
        right: 100%;}            
}

/* Skilt for linker til de andre siden (verdensrommet og legocity) */
/*---------------------------------------------------------------------------------------*/

#signpostToTheWorld {
    position: absolute;
    z-index: 3;
    width: 10vw;
    height: 20vh;
    left: 5%;
    top: 50%;
}

#snowTop {
    position: absolute;
    z-index: 2;
    background: lightskyblue;
    top: 62%;
    left: 7.5%;
    width: 5vw;
    height: 5vh;
    border-radius: 100%;
    
}

/* Linker */
/*---------------------------------------------------------------------------------------*/

a{
    position: absolute;
    z-index: 3;
    color: black;
    text-decoration: none;
    height: 2%;
    width: 2%;
    
}

#spaceLink{
    top: 53%;
    left: 9.5%;
    z-index: 3;
    transform: rotate(-22deg);
    
}

#legoCityLink{
    top: 57%;
    left: 8.5%;
    z-index: 3;
      
}

/* Posisjonering av hus */
/*---------------------------------------------------------------------------------------*/ 

#house2{
    position: absolute;
    bottom: 20%;
    right: 30%;
    height: 40%;
    width:30%; 
    z-index: 3;
}

/* Sekken som gavene detter ned i */
/*---------------------------------------------------------------------------------------*/

#giftbag{
    position: absolute;
    bottom: 12%;
    right: 15.5%;
    z-index: 2;
    height:30%;
    width: 15%;
}

#giftbag:hover + #sleigh{
    animation-play-state: running;
    /*transform: scale(2);*/
}
/* Nissens hjelpere som står bak båndet */
/*---------------------------------------------------------------------------------------*/

#helper1{
    position: absolute;
    bottom: 25%;
    right: 9%;
    z-index: 2;
    height:8%;
}

#helper2{
    position: absolute;
    bottom: 28%;
    right: 17.5%;
    z-index: 2;
    height:10%;

}
#helper3{
    position: absolute;
    bottom: 30%;
    right: 15.5%;
    z-index: 1;
    height:7%;
}

/* Posisjonering av hytte */
/*---------------------------------------------------------------------------------------*/ 

#cottage{
    position: absolute;
    bottom: 20%;
    right: 60.5%;
    z-index: 3;
    height:30%;
    width: 20%;
}

/* Skyer*/
/*---------------------------------------------------------------------------------------*/

.cloud{
    position: absolute;
    z-index: 7;
    height:20%;
    animation-duration: 360s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cloud1{
    top:7%;
    left: -20%;
    animation-name: cloudMovement1
}

#cloud2{
    top:5%;
    left: -20%;
    transform: scale(1.5);
    animation-name: cloudMovement2;
    animation-delay: 60s;
}

#cloud3{
    top: 0%;
    left: -20%;
    transform: scale(0.8);
    animation-name: cloudMovement3;
    animation-delay: 100s;
}

#cloud4{
    top:3%;
    left: -20%;
    transform: scale(1);
    animation-delay: 150s;
    animation-name: cloudMovement4;
}

/* Animasjon av skyer */
/*---------------------------------------------------------------------------------------*/

@keyframes cloudMovement1{
    0%{top:7%;
        left: -20%;}
    100%{top: 7%;
        left: 130%;}
}

@keyframes cloudMovement2{
    0%{top:5%;
        left: -20%;}
    100%{top: 5%;
        left: 130%;}
}

@keyframes cloudMovement3{
    0%{top:0%;
        left: -20%;}
    100%{top: 0%;
        left: 130%;}
}

@keyframes cloudMovement4{
    0%{top:10%;
        left: -20%;}
    100%{top: 10%;
        left: 130%;}
}
/* Fellesboks for snøfnugg */
/*---------------------------------------------------------------------------------------*/

.snow{
    position:absolute;
    height: 5%;
    left: 5%;
    top: -20%;
    z-index: 5;
    animation-duration: 11.5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}
