#container {
    background-color: rgb(18, 26, 51);
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow:hidden;
}
#cloudBackground{
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#snowBackground{
    z-index: 2;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#assemblyLineContainer{
    right: 5%;
    height: 20%;
    top: 56%;
    position: absolute;
    width: 20%;
}

/* Bildet av gavemaskinen */

#assemblyLine{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

/* Grå div som ligger over bildet av gavemaskinen (Underlaget til beltet) */

#conveyorBelt{
    background-color: rgb(114, 114, 114);
    width: 63%;
    height: 7%;
    top: 62.5%;
    position: absolute;
    transform: skew(55deg,4deg) rotate(-12deg);
    left: 5.5%;
    z-index: 3;
}

/* Fellesegenskaper for linjene på beltet */

.belt{
    background-color: rgb(56, 56, 56);
    height: 100%;
    width: 2%;
    position: absolute;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;
}

/*  Linjer lagt over conveyorbelt diven for å få det til å se ut som at beltet beveger seg*/

#belt1{
    right: 0%;
    animation-name: belt1Movement;
    
}

#belt2{
    right: 20.5%;
    animation-name: belt2Movement;    
}

#belt3{
    right: 41%;
    animation-name: belt3Movement;
}

#belt4{
    right: 61.5%;
    animation-name: belt4Movement;
}

#belt5{
    right: 82%;
    animation-name: belt5Movement;
}

/* animasjoner til strekene på beltet */

@keyframes belt1Movement{
    0%{right: 1%}
    100%{right: 20.5%}
}

@keyframes belt2Movement{
    0%{right: 20.5%}
    100%{right: 41%}
    
}

@keyframes belt3Movement{
    0%{right: 41%}
    100%{right: 61.5%}
}

@keyframes belt4Movement{
    0%{right: 61.5%}
    100%{right: 82%}
}

@keyframes belt5Movement{
    0%{right: 82%}
    100%{right: 100%}
}

/* Streker på hjulene på transportbeltet */ 

.wheels{
    background-color: rgb(189, 189, 189);
    position: absolute;
    animation-name: wheelSpin;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#wheel1{
    height: 6%;
    width:1%;
    bottom: 18%;
    left: 36.2%;
    transform: skew(-10deg,5deg);
    z-index: 4;
}

#wheel2{
    height: 5%;
    width: 1%;
    bottom: 25.5%;
    left: 51%;
    transform: skew(-10deg,5deg);
    z-index: 4;    
}

/* Animasjon til hjulene */

@keyframes wheelSpin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg)}
}

/* Gaver på båndet  */

.present{
    position: absolute;
    height: 12%;
    width: 12%;
    animation-name: present1Move;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
    top: 48%;
    left: 50%;    
}

#present1{
    animation-delay: 0s;
}

#present2{
    
    animation-delay: 4s;
}

#present3{
    animation-delay: 8s;
}

/* Animasjoner av gavene på båndet */

@keyframes present1Move{
    0%{top: 48%;
        left: 55%;
        z-index: 0;}
    10%{z-index: 4;}
    100%{top: 68%;
        left: 8%;
        z-index: 4;}
}

/* Sleden */

#sleigh{
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 5%;
    right: -30%;
    z-index: 5;
    animation-name: sleighTravel1,sleighTravel2;
    animation-delay: 0s,6s;
    animation-duration: 4s;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
}

/* Animasjon av sleden */
@keyframes sleighTravel1{
    0%{bottom: 15%;
        right: -30%;
        transform:rotate(-15deg)}
    100%{bottom: 5%;
        right: 10%;}
}

@keyframes sleighTravel2{
    0%{bottom: 5%;
        right: 10%;}
    50%{bottom: 5%;
        right: 40%}
    70%{bottom: 25%;
        right: 60%;
        transform:rotate(15deg);}
    100%{bottom: 55%;
        right: 100%;}            
}

/* Skilt for linker til de andre siden (verdensrommet og legocity) */

#signpostToTheWorld {
    position: absolute;
    z-index: 3;
    width: 10vw;
    left: 5%;
    top: 50%;
}

#snowTop {
    position: absolute;
    z-index: 2;
    background: lightskyblue;
    top: 62%;
    left: 7.5%;
    width: 5vw;
    height: 5vh;
    border-radius: 100%;
    
}

/* Linker */

.links{
    position: absolute;
    z-index: 3;
    color: black;
    text-decoration: none;
}

#spaceLink{
    top: 53.5%;
    left: 9.5%;
    z-index: 3;
    transform: rotate(-22deg);
}

#legoCityLink{
    top: 57%;
    left: 7.5%;
    z-index: 3;    
}

/* Posisjonering av hus */ 

#house2{
    position: absolute;
    bottom: 20%;
    right: 40%;
    height: 40%;
    z-index: 3;
}

/* Sekken som gavene detter ned i */

#giftbag{
    position: absolute;
    bottom: 12%;
    right: 15.5%;
    z-index: 2;
    height:30%;
}

/* Nissens hjelpere som står bak båndet */

#helper1{
    position: absolute;
    bottom: 25%;
    right: 9%;
    z-index: 2;
    height:8%;
}

#helper2{
    position: absolute;
    bottom: 28%;
    right: 17.5%;
    z-index: 2;
    height:10%;

}
#helper3{
    position: absolute;
    bottom: 30%;
    right: 15.5%;
    z-index: 1;
    height:7%;
}

/* Posisjonering av hytte */ 

#cottage{
    position: absolute;
    bottom: 20%;
    right: 65.5%;
    z-index: 3;
    height:30%;
}

/* Skyer*/

.cloud{
    position: absolute;
    z-index: 7;
    height:20%;
    animation-duration: 360s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cloud1{
    top:7%;
    left: -20%;
    animation-name: cloudMovement1
}

#cloud2{
    top:5%;
    left: -20%;
    transform: scale(1.5);
    animation-name: cloudMovement2;
    animation-delay: 60s;
}

#cloud3{
    top: 0%;
    left: -20%;
    transform: scale(0.8);
    animation-name: cloudMovement3;
    animation-delay: 100s;
}

#cloud4{
    top:3%;
    left: -20%;
    transform: scale(1);
    animation-delay: 150s;
    animation-name: cloudMovement4;
}

/* Animasjon av skyer */

@keyframes cloudMovement1{
    0%{top:7%;
        left: -20%;}
    100%{top: 7%;
        left: 130%;}
}

@keyframes cloudMovement2{
    0%{top:5%;
        left: -20%;}
    100%{top: 5%;
        left: 130%;}
}

@keyframes cloudMovement3{
    0%{top:0%;
        left: -20%;}
    100%{top: 0%;
        left: 130%;}
}

@keyframes cloudMovement4{
    0%{top:10%;
        left: -20%;}
    100%{top: 10%;
        left: 130%;}
}
/* Fellesboks for snøfnugg */

.snow{
    position:absolute;
    height: 5%;
    left: 5%;
    top: -20%;
    z-index: 5;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    
}

/* snøfnugg animasjoner, med forskjellige intervallerfra 1 - 20, 21-40, 41-60 og 61-80 linket videre til animasjoner så hver bolk representerer 1 linje med snø som faller
gitt litt forskjellige delay og lengder osv for å få en naturlig effekt */

#flake1{
    animation-name: snowflake1;
    animation-delay:0s;
}

#flake2{
    animation-name: snowflake2;
    animation-delay:1s;
}

#flake3{
    animation-name: snowflake3;
    animation-delay:0.5s;
}

#flake4{
    animation-name: snowflake4;
    animation-delay: 1s;
}

#flake5{
    animation-name: snowflake5;
    animation-delay: 0s;
}

#flake6{
    animation-name: snowflake6;
    animation-delay: 2s;
}

#flake7{
    animation-name: snowflake7;
    animation-delay: 0s;
}

#flake8{
    animation-name: snowflake8;
    animation-delay: 1s;
}

#flake9{
    animation-name: snowflake9;
    animation-delay: 0.5s;
}

#flake10{
    animation-name: snowflake10;
    animation-delay: 1s;
}

#flake11{
    animation-name: snowflake11;
    animation-delay: 0s;
}

#flake12{
    animation-name: snowflake12;
    animation-delay: 2s;
}

#flake13{
    animation-name: snowflake13;
    animation-delay: 0s;
}

#flake14{
    animation-name: snowflake14;
    animation-delay: 1s;
}

#flake15{
    animation-name: snowflake15;
    animation-delay: 0s;
}

#flake16{
    animation-name: snowflake16;
    animation-delay: 2s;
}

#flake17{
    animation-name: snowflake17;
    animation-delay: 0.5s;
}

#flake18{
    animation-name: snowflake18;
    animation-delay: 1s;
}

#flake19{
    animation-name: snowflake19;
    animation-delay: 0s;
}

#flake20{
    animation-name: snowflake20;
    animation-delay: 2s;
}

#flake21{
    animation-name: snowflake1;
    animation-delay: 3s;
}

#flake22{
    animation-name: snowflake2;
    animation-delay: 3s;
}

#flake23{
    animation-name: snowflake3;
    animation-delay: 4s;
}

#flake24{
    animation-name: snowflake4;
    animation-delay: 3.5s;
}

#flake25{
    animation-name: snowflake5;
    animation-delay: 4s;
}

#flake26{
    animation-name: snowflake6;
    animation-delay: 4.5s;
}

#flake27{
    animation-name: snowflake7;
    animation-delay: 3.5s;
}

#flake28{
    animation-name: snowflake8;
    animation-delay: 3s;
}

#flake29{
    animation-name: snowflake9;
    animation-delay: 4s;
}

#flake30{
    animation-name: snowflake10;
    animation-delay: 3.5s;
}

#flake31{
    animation-name: snowflake11;
    animation-delay: 4s;
}

#flake32{
    animation-name: snowflake12;
    animation-delay: 4.5s;
}

#flake33{
    animation-name: snowflake13;
    animation-delay: 3.5s;
}

#flake34{
    animation-name: snowflake14;
    animation-delay: 4s;
}

#flake35{
    animation-name: snowflake15;
    animation-delay: 3.5s;
}

#flake36{
    animation-name: snowflake16;
    animation-delay: 4.5s;
}

#flake37{
    animation-name: snowflake17;
    animation-delay: 3s;
}

#flake38{
    animation-name: snowflake18;
    animation-delay: 3.5s;
}

#flake39{
    animation-name: snowflake19;
    animation-delay: 4s;
}

#flake40{
    animation-name: snowflake20;
    animation-delay: 3.5s;
}

#flake41{
    animation-name: snowflake1;
    animation-delay: 5.5s;
}

#flake42{
    animation-name: snowflake2;
    animation-delay: 6s;
}

#flake43{
    animation-name: snowflake3;
    animation-delay: 6.5s;
}

#flake44{
    animation-name: snowflake4;
    animation-delay: 6s;
}

#flake45{
    animation-name: snowflake5;
    animation-delay: 5.5s;
}

#flake46{
    animation-name: snowflake6;
    animation-delay: 6s;
}

#flake47{
    animation-name: snowflake7;
    animation-delay: 6.5s;
}

#flake48{
    animation-name: snowflake8;
    animation-delay: 6s;
}

#flake49{
    animation-name: snowflake9;
    animation-delay: 5.5s;
}

#flake50{
    animation-name: snowflake10;
    animation-delay: 6.5s;
}

#flake51{
    animation-name: snowflake11;
    animation-delay: 7s;
}

#flake52{
    animation-name: snowflake12;
    animation-delay: 6.5s;
}

#flake53{
    animation-name: snowflake13;
    animation-delay: 7s;
}

#flake54{
    animation-name: snowflake14;
    animation-delay: 7.5s;
}

#flake55{
    animation-name: snowflake15;
    animation-delay: 6.5s;
}

#flake56{
    animation-name: snowflake16;
    animation-delay: 6s;
}

#flake57{
    animation-name: snowflake17;
    animation-delay: 6.5s;
}

#flake58{
    animation-name: snowflake18;
    animation-delay: 7s;
}

#flake59{
    animation-name: snowflake19;
    animation-delay: 6.5s;
}

#flake60{
    animation-name: snowflake20;
    animation-delay: 6s;
}

#flake61{
    animation-name: snowflake1;
    animation-delay: 8.5s;
}

#flake62{
    animation-name: snowflake2;
    animation-delay: 9s;
}

#flake63{
    animation-name: snowflake3;
    animation-delay: 8s;
}

#flake64{
    animation-name: snowflake4;
    animation-delay: 8.5s;
}

#flake65{
    animation-name: snowflake5;
    animation-delay: 9s;
}

#flake66{
    animation-name: snowflake6;
    animation-delay: 8s;
}

#flake67{
    animation-name: snowflake7;
    animation-delay: 9s;
}

#flake68{
    animation-name: snowflake8;
    animation-delay: 8.5s;
}

#flake69{
    animation-name: snowflake9;
    animation-delay: 8s;
}

#flake70{
    animation-name: snowflake10;
    animation-delay: 8.5s;
}

#flake71{
    animation-name: snowflake11;
    animation-delay: 9s;
}

#flake72{
    animation-name: snowflake12;
    animation-delay: 8s;
}

#flake73{
    animation-name: snowflake13;
    animation-delay: 8.5s;
}

#flake74{
    animation-name: snowflake14;
    animation-delay: 8.5s;
}

#flake75{
    animation-name: snowflake15;
    animation-delay: 9s;
}

#flake76{
    animation-name: snowflake16;
    animation-delay: 8.5s;
}

#flake77{
    animation-name: snowflake17;
    animation-delay: 8s;
}

#flake78{
    animation-name: snowflake18;
    animation-delay: 8.5s;
}

#flake79{
    animation-name: snowflake19;
    animation-delay: 9s;
}

#flake80{
    animation-name: snowflake20;
    animation-delay: 8.5s;
}

/* Animasjoner for hver enkelt linje med snøfnugg, med litt forskjellig rotasjon lengde og avstand */

@keyframes snowflake1{
    0%{left: 5%;
        top: 20%;}
    90%{opacity: 1;}    
    100%{left: 5%;
        top: 75%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake2{
    0%{left: 10%;
        top: 22%;}
    90%{opacity: 1;}    
    100%{left: 10%;
        top: 77%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake3{
    0%{left: 15%;
        top: 18%;
        transform: scale(0.9);}
    90%{opacity: 1;}    
    100%{left: 15%;
        top: 73%;
        transform:rotate(-90deg);
        opacity: 0;}
}

@keyframes snowflake4{
    0%{left: 20%;
        top: 24%;
        transform: scale(1.1)}
    90%{opacity: 1;}    
    100%{left: 20%;
        top: 79%;
        transform:rotate(70deg);
        opacity: 0;}
}

@keyframes snowflake5{
    0%{left: 25%;
        top: 20%;
        transform: scale(0.8)}
    90%{opacity: 1;}    
    100%{left: 25%;
        top: 75%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake6{
    0%{left: 28%;
        top: 20%;}
    90%{opacity: 1;}    
    100%{left: 28%;
        top: 75%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake7{
    0%{left: 33%;
        top: 22%;}
    90%{opacity: 1;}    
    100%{left: 33%;
        top: 77%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake8{
    0%{left: 37%;
        top: 18%;
        transform: scale(1.1)}
    90%{opacity: 1;}    
    100%{left: 41%;
        top: 73%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake9{
    0%{left: 43%;
        top: 20%;}
    90%{opacity: 1;}    
    100%{left: 45%;
        top: 75%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake10{
    0%{left: 51%;
        top: 17%;
        transform: scale(0.8)}
    90%{opacity: 1;}    
    100%{left: 51%;
        top: 67%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake11{
    0%{left: 56%;
        top: 22%;
        transform: scale(1.2)}
    90%{opacity: 1;}    
    100%{left: 56%;
        top: 77%;
        transform:rotate(80deg);
        opacity: 0;}
}

@keyframes snowflake12{
    0%{left: 60%;
        top: 21%;}
    90%{opacity: 1;}    
    100%{left: 60%;
        top: 76%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake13{
    0%{left: 64%;
        top: 20%;}
    90%{opacity: 1;}    
    100%{left: 64%;
        top: 75%;
        transform:rotate(80deg);
        opacity: 0;}
}

@keyframes snowflake14{
    0%{left: 69%;
        top: 22%;}
    90%{opacity: 1;}    
    100%{left: 69%;
        top: 77%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake15{
    0%{left:72%;
        top: 22%;}
    90%{opacity: 1;}    
    100%{left: 74%;
        top: 77%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake16{
    0%{left: 74%;
        top: 19%;}
    90%{opacity: 1;}    
    100%{left: 77%;
        top: 74%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake17{
    0%{left: 75%;
        top: 20%;}
    90%{opacity: 1;}    
    100%{left: 75%;
        top: 75%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake18{
    0%{left: 79%;
        top: 17%;}
    90%{opacity: 1;}    
    100%{left: 81%;
        top: 72%;
        transform:rotate(-80deg);
        opacity: 0;}
}

@keyframes snowflake19{
    0%{left: 84%;
        top: 22%;}
    90%{opacity: 1;}    
    100%{left: 84%;
        top: 77%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake20{
    0%{left: 88%;
        top: 17%;}
    90%{opacity: 1;}    
    100%{left: 89%;
        top: 72%;
        transform:rotate(-80deg);
        opacity: 0;}
}