#container {
    background-color: black;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow:hidden;
}

#snowBackground{
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

#assemblyLineContainer{
    right: 5%;
    height: 20%;
    top: 56%;
    position: absolute;
    width: 20%;
}

#assemblyLine{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#conveyorBelt{
    background-color: rgb(114, 114, 114);
    width: 63%;
    height: 7%;
    top: 62.5%;
    position: absolute;
    transform: skew(55deg,4deg) rotate(-12deg);
    left: 5.5%;
    z-index: 3;
}

.belt{
    background-color: rgb(56, 56, 56);
    height: 100%;
    width: 2%;
    position: absolute;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 2;
}

#belt1{
    right: 0%;
    animation-name: belt1Movement;
    
}

#belt2{
    right: 20.5%;
    animation-name: belt2Movement;    
}

#belt3{
    right: 41%;
    animation-name: belt3Movement;
}

#belt4{
    right: 61.5%;
    animation-name: belt4Movement;
}

#belt5{
    right: 82%;
    animation-name: belt5Movement;
}

@keyframes belt1Movement{
    0%{right: 1%}
    100%{right: 20.5%}
}

@keyframes belt2Movement{
    0%{right: 20.5%}
    100%{right: 41%}
    
}

@keyframes belt3Movement{
    0%{right: 41%}
    100%{right: 61.5%}
}

@keyframes belt4Movement{
    0%{right: 61.5%}
    100%{right: 82%}
}

@keyframes belt5Movement{
    0%{right: 82%}
    100%{right: 100%}
}

.wheels{
    background-color: rgb(189, 189, 189);
    position: absolute;
    animation-name: wheelSpin;
    animation-duration: 3.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#wheel1{
    height: 6%;
    width:1%;
    bottom: 18%;
    left: 36.2%;
    transform: skew(-10deg,5deg);
    z-index: 4;
}

#wheel2{
    height: 5%;
    width: 1%;
    bottom: 25.5%;
    left: 51%;
    transform: skew(-10deg,5deg);
    z-index: 4;    
}

@keyframes wheelSpin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(-360deg)}
}

.present{
    position: absolute;
    height: 12%;
    width: 12%;
    animation-name: present1Move;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 1;
    top: 48%;
    left: 50%;    
}

#present1{
    animation-delay: 0s;
}

#present2{
    
    animation-delay: 4s;
}

#present3{
    animation-delay: 8s;
}

@keyframes present1Move{
    0%{top: 48%;
        left: 55%;
        z-index: 0;}
    10%{z-index: 4;}
    100%{top: 68%;
        left: 8%;
        z-index: 4;}
}

#sleigh{
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 5%;
    right: -30%;
    z-index: 5;
    animation-name: sleighTravel1,sleighTravel2;
    animation-delay: 0s,6s;
    animation-duration: 4s;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
}
@keyframes sleighTravel1{
    0%{bottom: 15%;
        right: -30%;
        transform:rotate(-15deg)}
    100%{bottom: 5%;
        right: 10%;}
}
/*#sleigh{
    position: absolute;
    width: 25%;
    height: 25%;
    bottom: 5%;
    right: 10%;
    z-index: 5;
    animation-name: sleighTravel2;
    animation-duration: 4s;
    animation-timing-function:linear;
    animation-fill-mode: forwards;
    
}*/

@keyframes sleighTravel2{
    0%{bottom: 5%;
        right: 10%;}
    50%{bottom: 5%;
        right: 40%}
    70%{bottom: 25%;
        right: 60%;
        transform:rotate(15deg);}
    100%{bottom: 55%;
        right: 100%;}            
}

#house2{
    position: absolute;
    bottom: 20%;
    right: 40%;
    height: 40%;
    z-index: 3;
}

#giftbag{
    position: absolute;
    bottom: 12%;
    right: 15.5%;
    z-index: 2;
    height:30%;
    
}

#helper1{
    position: absolute;
    bottom: 25%;
    right: 9%;
    z-index: 2;
    height:8%;
}

#helper2{
    position: absolute;
    bottom: 28%;
    right: 17.5%;
    z-index: 2;
    height:10%;

}
#helper3{
    position: absolute;
    bottom: 30%;
    right: 15.5%;
    z-index: 1;
    height:7%;
}

#cottage{
    position: absolute;
    bottom: 20%;
    right: 65.5%;
    z-index: 3;
    height:30%;
}

.cloud{
    position: absolute;
    z-index: 7;
    height:20%;
    animation-duration: 300s;
    animation-iteration-count: infinite;
}

#cloud1{
    top:7%;
    left: -10%;
    animation-name: cloudMovement1
}

#cloud2{
    top:10%;
    left: 20%;
    animation-name: cloudMovement2;
}


@keyframes cloudMovement1{
    0%{top:7%;
        left: -10%;}
    100%{top: 7%;
        left: 130%;}
}

@keyframes cloudMovement2{
    0%{top:10%;
        left: 20%;}
    100%{top: 10%;
        left: 130%;}
}

.snow{
    position:absolute;
    height: 5%;
    left: 5%;
    top: 20%;
    z-index: 5;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

#flake1{
    animation-name: snowflake1;
}

#flake2{
    animation-name: snowflake2;
    animation-delay:1s;
}

#flake3{
    animation-name: snowflake3;
    animation-delay:0.5s;
}

@keyframes snowflake1{
    0%{left: 5%;
        top: 20%;}
    90%{opacity: 1;}    
    100%{left: 5%;
        top: 70%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake2{
    0%{left: 10%;
        top: 22%;}
    90%{opacity: 1;}    
    100%{left: 10%;
        top: 72%;
        transform:rotate(90deg);
        opacity: 0;}
}

@keyframes snowflake3{
    0%{left: 15%;
        top: 18%;}
    90%{opacity: 1;}    
    100%{left: 15%;
        top: 68%;
        transform:rotate(-90deg);
        opacity: 0;}
}