body {
    overflow: hidden;
}

/*frame*/
/*---------------------------------------------------------------------------------------*/
.frame {
    width: 100%;
    height: 100%;

    position: absolute;
}

.normalFrame {
    display: noen;
}

.legoFrame {
    display: block;
}


/*-------------------------------------------*/

/*Image Center*/
/*-------------------------------------------*/

.ground {
    height: 100vh;
    width: 100vw;

    position: absolute;

    z-index: 3;
}

#relGround {
    opacity: 1;
    animation: getGround 10s 20s forwards linear;
}

#legoGround {
    opacity: 0;
    animation: getGround 10s 20s reverse forwards linear;
}

#relRoad {
    opacity: 1;
    animation: getGround 10s 20s forwards linear;
}

#legoRoad {
    opacity: 0;
    animation: getGround 10s 20s reverse forwards linear;
}


@keyframes getGround {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}

.bigCenterTree {
    height: 78vh;

    position: absolute;
    left: 34%;

    z-index: 5;F
}


#legoBigCenterTree {
    opacity: 1;
    top: -100%;
    animation: liftOf 10s 10s reverse forwards linear;
}

#relBigCenterTree {
    opacity: 1;
    animation: liftOf 10s forwards linear;
}


@keyframes liftOf {
    0% {
        left: 34%;
        top: 0%
    }

    5% {
        left: 36%;
    }

    10% {
        left: 32%;
    }

    15% {
        left: 36%;
    }

    20% {
        left: 32%;
    }

    25% {
        left: 36%;
    }

    30% {
        left: 32%;
    }

    35% {
        left: 36%;
    }

    40% {
        left: 32%;
    }

    45% {
        left: 36%;
    }

    50% {
        top: 0%;
    }

    100% {
        top: -100%
    }
}

.road {
    height: 55vh;

    position: absolute;
    bottom: 0%;
    left: 35%;

    z-index: 4;
}




/*Forest*/
/*-------------------------------------------*/

.tree {
    position: absolute;
    z-index: 7;
}

.bigTree {
    height: 50vh;
    width: 25vw;
}

.smalTree {
    height: 40vh;
    width: 20vw;
}

.tree1 {
    left: -10%;
    top: 30%;
}

.tree2 {}

.tree3 {
    left: 6%;
    top: 50%;
}

.tree4 {
    right: 13%;
    top: 30%;
}

.tree5 {}

.tree6 {
    right: 0%;
    top: 40%;
}

#legoTree1 {
    opacity: 0;
    animation: getGround 10s reverse forwards linear;
}

#legoTree2 {
    transform: scale(0);
    animation: three2 1s 1 forwards reverse linear paused;
}

#legoTree3 {
    opacity: 0;
    animation: getGround 10s reverse forwards linear;
}

#legoTree4 {
    opacity: 0;
    animation: getGround 10s reverse forwards linear;
}

#legoTree5 {
    animation: three4 1s 1 forwards reverse linear paused;
}

#legoTree6 {
    opacity: 0;
    animation: getGround 10s reverse forwards linear;
}

#relTree1 {
    opacity: 1;
    animation: getGround 10s forwards linear;
}

#relTree2 {
    opacity: 1;
    animation: three2 1s 1 forwards linear paused;
}

#relTree3 {
    opacity: 1;
    animation: getGround 10s forwards linear;
}

#relTree4 {
    opacity: 1;
    animation: getGround 10s forwards linear;
}

#relTree5 {
    opacity: 1;
    animation: three4 1s 1 forwards linear paused;

}

#relTree6 {
    opacity: 1;
    animation: getGround 10s forwards linear;
}

.tree2div {
    height: 40vh;
    width: 20vw;
    left: 25%;
    top: 40%;
    position: absolute;

    z-index: 6;
}

.tree5div {
    height: 40vh;
    width: 20vw;
    right: 27%;
    top: 48%;
    position: absolute;

    z-index: 6;
}

.tree2div:hover>#relTree2 {
    animation-play-state: running;

}

.tree2div:hover>#legoTree2 {
    animation-play-state: running;

}

.tree5div:active>#relTree5 {
    animation-play-state: running;

}

.tree5div:active>#legoTree5 {
    animation-play-state: running;

}



@keyframes three1 {}

@keyframes three2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(0);
    }

}

@keyframes three3 {}

@keyframes three4 {
    0% {
        right: 27%;
        top: 48%;
    }

    25% {
        right: 27%;
        top: 38%;
    }

    50% {
        right: 27%;
        top: 28%;
    }

    75% {
        right: 27%;
        top: 18%;
    }

    100% {
        right: 27%;
        top: -300%;
    }
}



#sleigh {
    position: absolute;
    height: 30vh;
    z-index: 7;
    right: -30%;
    top: 75%;
    opacity: 1;
    animation: sleighInn 5s 30s 1 ease-out forwards;
}


@keyframes sleighInn {
    from {
        top: 75%;
        right: -30%;
        opacity: 1;
    }

    to {
        right: 0;
        top: 75%;
        opacity: 1;
    }

}

/*-------------------------------------------*/
/*---------------------------------------------------------------------------------------*/