body{
}
/*frame*/
/*---------------------------------------------------------------------------------------*/
.frame {
    width: 100%;
    height: 100%;

    position: relative;
}

.normalFrame {
    display: block;
}

.legoFrame {
    display: none;
}


/*sky*
    /*-------------------------------------------*/

    .moon {
        width: 10vw;

        position: absolute;
        right: 5%;
        top: 0;

        z-index: 3;

        animation: moonBob 2s linear infinite;}

    #relMoon {}

    #legoMoon {}

            /*Animations*/
            /*-------------------------------------------*/
            @keyframes moonBob {
                0% {top: 0;}
                50%{ top: 1%;}
                100% {top: 0;}
            }
            /*-------------------------------------------*/

/*-------------------------------------------*/

/*Image Center*/
/*-------------------------------------------*/

    .ground {
        height: 100vh;
        width: 100vw;

        position: absolute;

        z-index: 3;
    }

    .bigCenterTree {
        height: 78vh ;

        position: absolute;
        left: 34%;

        z-index: 5;
    }
    .road {
        height: 55vh;

        position: absolute;
        bottom: 0%;
        left: 35%;

        z-index: 4;
    }

    #present{
        height: 7vh;

        position: absolute;
        left: 47%;
        top: 65%;
    
        z-index: 5;
    }

    
            /*Animations*/
            /*-------------------------------------------*/
                #present:hover{
                    height: 8vh;
                }
            /*-------------------------------------------*/

/*-------------------------------------------*/

/*Forest*/
/*-------------------------------------------*/

    .tree {
        position: absolute;
        z-index: 5;
    }

    .bigTree {
        height: 50vh;
    }

    .smalTree {
        height: 40vh;
    }

    .tree1 {
        left: -10%;
        top: 30%;
    }

    .tree2 {
        left: 15%;
        top: 40%;
    }

    .tree3 {
        left: 6%;
        top: 50%;
    }

    .tree4 {
        right: 13%;
        top: 30%;
    }

    .tree5 {
        right: 27%;
        top: 48%;
    }

    .tree6 {
        right: 0%;
        top: 40%;
    }

/*-------------------------------------------*/
/*---------------------------------------------------------------------------------------*/