/*Starry Backrgound ------------------------------------------*/
.stars, .shimmer{ 
    position: absolute; 
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    width: 100vw; 
    height: 100vh; 
    display: block; 
}

.stars{ /* Still picture of stars */
    z-index: 0; 
    background: black  
    url(../Images/Wallpaper/stars1.png) repeat top center; 
    z-index: 1;
}

.shimmer{ /* Controls star flickering */ 
    z-index: 1; 
    background: transparent
    url(../Images/Wallpaper/shadows.png) repeat top center;
    animation: shinyAnim linear infinite; 
    background-position: center; 
    animation-duration: 200s; 
    z-index: 2;
}

@keyframes shinyAnim{ 
    from{
        background-position: 0 0;
    }
    to{
        background-position: -10000px 5000px;
    }
}
/*----------------------------------------------------------------*/

.frame {background-color: black;
width: 100vw;
height: 100vh;}

.ground {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 3;
}
.road{
    height: 55vh;
    position: absolute;
    bottom: 0%;
    left: 35%;
    z-index: 4;
}
.bigThree{
    position: absolute;
    z-index: 5;
    left: 34%;
}

.treetree{
    display: flex;
}
.tree {
    position: relative;
    z-index: 99;
}
.treeBig {
    height: 50vh;
}
.treeSmal {

    height: 40vh;

}
.moon img{
    position: absolute;
    z-index: 3;
    width: 10vw;
    right: 5%;
    top: 0;
    animation: moonBob 2s linear infinite;
}



@keyframes moonBob {
    0% {top: 0;}
    50%{ top: 1%;}
    100% {top: 0;}
    
}
