#present {
    height: 7vh;
    width: 4.5vw;

    position: absolute;
    display: block;
    z-index: 4;
    animation-name: noenoe;
}

#mushroom {
    height: 9vh;
    width: 5.76vw;

    position: absolute;
    display: none;
    z-index: 5;
    animation: nienei 1s linear forwards;
}

#linkMush {
    height: 9vh;
    width: 5.76vw;
}

.giftAnimation {
    position: absolute;
    height: 9vh;
    width: 5.76vw;
    left: 47%;
    top: 64%;
    z-index: 10;
}


.giftAnimation:hover>#present {
    display: none;
}

.giftAnimation:hover>a>#mushroom {
    display: block;
    z-index: 20;
}

@keyframes noenoe {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes noenei {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}